<!-- Clients Section -->
<section id="clients" class="clients section light-background">

  <div class="container" data-aos="zoom-in">

    <div class="swiper-container">
      <div class="swiper-wrapper align-items-center">
        <div class="swiper-slide"><img src="assets/img/clients/client-1.png" class="img-fluid" alt="Client 1"></div>
        <div class="swiper-slide"><img src="assets/img/clients/client-2.png" class="img-fluid" alt="Client 2"></div>
        <div class="swiper-slide"><img src="assets/img/clients/client-3.png" class="img-fluid" alt="Client 3"></div>
        <div class="swiper-slide"><img src="assets/img/clients/client-4.png" class="img-fluid" alt="Client 4"></div>
        <div class="swiper-slide"><img src="assets/img/clients/client-5.png" class="img-fluid" alt="Client 5"></div>
        <div class="swiper-slide"><img src="assets/img/clients/client-6.png" class="img-fluid" alt="Client 6"></div>
        <div class="swiper-slide"><img src="assets/img/clients/client-7.png" class="img-fluid" alt="Client 7"></div>
        <div class="swiper-slide"><img src="assets/img/clients/client-8.png" class="img-fluid" alt="Client 8"></div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>

  </div>

</section><!-- /Clients Section -->
